{% extends '_admin_template.html.twig' %}
{#affiche le 1er page du BACK_OFFICE#}
{% block title %}
    Liste des categories
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">liste des categries</h1>
        <a href="{{ path('add_category') }}" class="button is-success">
            Ajouter un categorie
        </a>


        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Nombres </th>

            </tr>
            </thead>
            <tBody>

            {% for category in category_list %}
                <tr>
                    <td>{{  category.id}}</td>

                    <td >
                        {{  category.name |slice(0,15)}}
                    </td>
                    <td>
                        <div>
                            <a  href= "{{ path('edit_category',{id:category.id}) }}" class="button is-success">Modifier</a>
                            <a  href= "{{ path('delete_category',{id:category.id}) }}" class="button is-danger">Supprimer</a>
                        </div>
                    </td>
                </tr>

            {% endfor %}



            </tbody>
        </table>
    </div>


{% endblock %}
